:root {
  /* Green */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  /* Neutral */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}


body{
    margin : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
    object-fit: cover;
    background-color: var(--cream);
    font-size: 14px;
}



.container{
    width : 450px;
    height: 350px;
   
    display: flex;
    background-color: var(--white);
    border-radius: 12px;
    overflow: hidden;
}

.image{
    flex : 1;
    
}


.details{
    padding: 30px auto;
    margin: 20px;
    flex : 1;
}


#btn{
    width : 90%;
    background-color: var(--green-500);
    border-radius: 8px;
    padding: 10px;
    color: var(--white);
    border: none;
   cursor: pointer;
    
}

#p{
    
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
}

#c1{
    font-size: 2em;
    color: var(--green-700);
    font-family: 'Fraunces',serif;
}

#p1{
    
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    line-height: 1.5em;
}

.p_name{
    font-family: 'Fraunces',serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 0.7em;
}
#btn:hover{
    background-color: var(--green-700);
    color: white;
}

@media (max-width: 375px) {
    body {
        height: auto;
        padding: 20px;
    }

    .container {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .image img {
        width: 100%;
        height: auto;
        content: url("./images/image-product-mobile.jpg");
    }

    .details {
        margin: 16px;
    }

    .p_name {
        line-height: 1.1em;
    }

    #btn {
        width: 100%;
    }

    #btn:hover{
    background-color: var(--green-700);
    color: white;
}
}
